<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="DroidGiro" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   
   <!-- Lightbox -->
  <script type="text/javascript" src="/js/prototype.js"></script>
  <script type="text/javascript" src="/js/scriptaculous.js?load=effects,builder"></script>
  <script type="text/javascript" src="/js/lightbox.js"></script>
  <link rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen" />

</head>
<body>
<div id="header">
  <p><a href="/">DroidGiro</a></p>
  <ul>
    <li><a href="/getting_started.html">Kom igång</a></li>
    <li><a href="/banks.html">Banker</a></li>
    <li><a href="/development.html">Utveckling</a></li>
    <li><a href="/about.html">Om DroidGiro</a></li>
  </ul>
</div>
<div class="mainbox">
  <div class="ribbon">
  <a href="http://github.com/droidgiro"><img src="https://assets0.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png&path=" alt="Fork me on GitHub" style="border: 0px;"></a> 
  </div>
  <div class="content">
    {{ content }}
  </div>

  <div class="android">
    <img src="/images/android_corner.png" alt="För Android" style="border: 0px;"></a> 
  </div>
</div>

<div class="footer">
  <ul class="contact">
    <li>Kontakt: <a href="mailto:project@droidgiro.se">project@droidgiro.se</a></li>  
    <li><p>Källkod: <a href="http://github.com/droidgiro">github.com/droidgiro</a></li>
  </ul>
  <p class="copyright"><em>Copyright &copy; 2011, DroidGiro</em></p>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-21008385-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->
</body>
</html>
